@import "./fonts.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Import scoped CSS rules for components */
@import "./_components.css";

.vega-embed.has-actions {
  padding-right: 10px !important;
}

.vega-embed .vega-actions {
  right: 0 !important;
}

.vega-embed summary {
  right: 10px !important;
}